@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
